
<div class="max-w-xl mx-auto mt-8 font-monserrat">
  <div class="flex items-center gap-2">
    <button class="btn btn-ghost btn-sm" (click)="goBack()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-4 h-4"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
      Volver
    </button>
  </div>
  <div class="card bg-base-100 shadow-xl px-1">
    <div class="card-body flex flex-col gap-7">
      <div class="flex items-center gap-3">
        <div class="w-11 rounded-full">
          <img src="/images/defaultProfile.png" alt="Foto de perfil" />
        </div>

        <div class="flex flex-col align-middle justify-center">
          <span class="text-md font-bold">Juan Ocampo</span>
          <span class="opacity-70">jdocampo@unibarranquilla.edu.co</span>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <h2 class="card-title text-sm font-medium">Información de Reserva</h2>
        <div class="flex justify-between gap-4">
          <div class="flex flex-1 justify-start items-start flex-col gap-2">
            <div class="flex justify-center items-center gap-1">
              <svg
                class="opacity-80"
                width="18px"
                height="18px"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                color="#000000"
              >
                <path
                  d="M10 9.01L10.01 8.99889"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M14 9.01L14.01 8.99889"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M10 13.01L10.01 12.9989"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M14 13.01L14.01 12.9989"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M10 17.01L10.01 16.9989"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M14 17.01L14.01 16.9989"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M6 20.4V5.6C6 5.26863 6.26863 5 6.6 5H12V3.6C12 3.26863 12.2686 3 12.6 3H17.4C17.7314 3 18 3.26863 18 3.6V20.4C18 20.7314 17.7314 21 17.4 21H6.6C6.26863 21 6 20.7314 6 20.4Z"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
              <h3 class="opacity-80">Sede</h3>
            </div>
            <span>Barranquilla</span>
          </div>
          <div class="flex flex-1 justify-start items-start flex-col gap-2">
            <div class="flex justify-center items-center gap-1">
              <svg
                class="opacity-80"
                width="19px"
                height="19px"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                color="#000000"
              >
                <path
                  d="M17.5 17.5C20 21 23.9486 18.4151 23 15C21.5753 9.87113 20.8001 7.01556 20.3969 5.50793C20.1597 4.62136 19.3562 4 18.4384 4L5.56155 4C4.64382 4 3.844 4.62481 3.62085 5.515C2.7815 8.86349 2.0326 11.8016 1.14415 15C0.195501 18.4151 4.14415 21 6.64415 17.5"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M18 8.5L18.0111 8.51"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M16.49 7L16.5011 7.01"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M16.49 10L16.5011 10.01"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M15 8.5L15.0111 8.51"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M7 7V10"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M5.5 8.5H8.5"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M8 16C9.10457 16 10 15.1046 10 14C10 12.8954 9.10457 12 8 12C6.89543 12 6 12.8954 6 14C6 15.1046 6.89543 16 8 16Z"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M16 16C17.1046 16 18 15.1046 18 14C18 12.8954 17.1046 12 16 12C14.8954 12 14 12.8954 14 14C14 15.1046 14.8954 16 16 16Z"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
              <h3 class="opacity-80">Consola</h3>
            </div>
            <span>Playstation</span>
          </div>
          <div class="flex flex-1 justify-start items-start flex-col gap-2">
            <div class="flex justify-center items-center gap-1">
              <svg
                class="opacity-80"
                width="18px"
                height="18px"
                stroke-width="1.4"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                color="#000000"
              >
                <path
                  d="M15 4V2M15 4V6M15 4H10.5M3 10V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V10H3Z"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M3 10V6C3 4.89543 3.89543 4 5 4H7"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M7 2V6"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M21 10V6C21 4.89543 20.1046 4 19 4H18.5"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
              <h3 class="opacity-80">Fecha</h3>
            </div>
            <span>25/10/25 10pm</span>
          </div>
        </div>
        <div class="card-actions justify-end">
          <div class="badge badge-outline badge-success">Pendiente</div>
        </div>
        <div class="card-actions-justify-start">
          <button class="btn btn-primary">Confirmar entrada</button>
        </div>
      </div>
    </div>
  </div>
</div>
