<div class="drawer lg:drawer-open min-h-screen font-monserrat">
  <input id="dashboard-drawer" type="checkbox" class="drawer-toggle" />

  <div class="drawer-content flex flex-col">
    <div class="w-full navbar bg-base-100">
      <div class="flex-none lg:hidden">
        <label for="dashboard-drawer" class="btn btn-ghost btn-square">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            />
          </svg>
        </label>
      </div>
    </div>

    <div>
      <router-outlet/>
    </div>
  </div>

  <div class="drawer-side">
    <label for="dashboard-drawer" class="drawer-overlay"></label>
    <dashboard-sidebar/>
  </div>
</div>